input[name="goldAmount"],
input[name="currentGoldSentTotal"],
input[name="huntingBuffsName"],
input[name="huntingBuffs2Name"],
input[name="huntingBuffs3Name"] {
    width: 52px;
}
input[name="goldRecipient"],
input[name="itemRecipient"] {
    width: 68px;
}
input[name="huntingBuffs"],
input[name="huntingBuffs2"],
input[name="huntingBuffs3"] {
    width: 284px;
}
