.helperMenuColumn {
  float: left;
  margin-right: 5px;
  width: 180px;
}
.helperMenuSectionHeader {
  background: #e0e0e0;
  font: bold 13px Arial, Helvetica, sans-serif;
  margin: 4px 0 2px 0;
  text-align: center;
}
.helperMenuDiv {
  border:3px solid #ccbb77;
  border-radius: 5px;
  color: black;
  cursor: default;
  font-size: 12px;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: opacity 100ms linear, visibility 0s linear 100ms;
  visibility: hidden;
}
.helperMenuShow {
  opacity: 1;
  transition: opacity 100ms linear, visibility 0s linear;
  visibility: visible;
}
.helperMenuReply {
  cursor: pointer;
  text-decoration: underline;
}
.helperMenu {
  color: yellow;
  cursor: pointer;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
  z-index: 75;
}
.helperMenuFixed {position: fixed;}
.helperMenuMove {cursor: move;}
.helperDl {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  user-select: text;
}
