.fastPray {text-align: center;}
.fastPray table {
  float: left;
}
.fastPray td {padding: 1px;}
.fastPray span {
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
}
